/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* -------------------------------------------------------------------
 * Common elements */

body {
    background: #fff;
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
}

main {
    margin: 60px 0;
}

p {
    line-height: 1.5;
}

a:link,
a:visited {
    color: #4285f4;
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
    text-decoration: underline;
}

/* -------------------------------------------------------------------
 * Dashboard header */

.main-heading {
    text-align: center;
}

.main-heading p {
    margin: 20px auto;
    max-width: 30em;
}

.meta {
    list-style-type: none;
    margin: 0 0 20px;
    padding: 0;
}

.meta li {
    display: inline-block;
    margin: 0 20px 0 0;
    padding: 0;
}

/* -------------------------------------------------------------------
 * Navigation */

form {
    text-align: center;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

form select {
    font-family: inherit;
    font-size: .9rem;
}

/* -------------------------------------------------------------------
 * Dashboard tables */

.dashboard {
    margin: 40px auto 20px;
    max-width: 1400px;
}

table {
    box-shadow: 2px 3px 6px 0 rgba(0, 0, 0, .1);
    background: #fff;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: .9rem;
    margin: 0 auto 40px;
    width: 100%;
}

table caption {
    background: #455a64;
    color: #fff;
    padding: 10px;
    text-align: left;
}

table caption h2 {
    color: #fff;
    float: left;
    margin: 0;
}

table th {
    color: #000;
    text-align: left;
}

table th,
table td {
    border: 1px solid #eee;
    padding: 10px;
}

table .error {
    color: #d70022;
}

/* -------------------------------------------------------------------
 * Score meter styling */

meter {
    background: #e7e5e2;
}

meter:-moz-meter-optimum::-moz-meter-bar {
    background: #33F70C;
}

meter:-moz-meter-sub-optimum::-moz-meter-bar {
    background: #ffa500;
}

meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: #ff0000;
}

meter::-webkit-meter-bar {
    background: #e7e5e2;
}

meter::-webkit-meter-optimum-value {
    background: #33F70C;
}

meter::-webkit-meter-suboptimum-value {
    background: #ffa500;
}

meter::-webkit-meter-even-less-good-value {
    background: #ff0000;
}

/* -------------------------------------------------------------------
 * Dialog & graph styles */

.graph-dialog {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
  }

#dialog-title {
    background: #455a64;
    margin-bottom: 40px;
    padding: 10px;
    text-align: center;
}

#dialog-title h3 {
    color: #fff;
    margin: 0;
}

.graph-dialog .graph {
    margin: 20px 0;
}

/* -------------------------------------------------------------------
 * Button styles */

button,
input[type="submit"] {
    background: #eee;
    border-radius: 3px;
    border: none;
    color: #757575;
    font-family: inherit;
    font-size: .8rem;
    padding: .4em 1em;
}

button:hover,
button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    background: #ddd;
}

/* -------------------------------------------------------------------
 * Dashboard footer */

footer {
    text-align: center;
}

/* -------------------------------------------------------------------
 * Graph styles */

.graph path,
.graph rect {
    cursor: pointer;
}
