/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* -------------------------------------------------------------------
 * Common elements */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
    margin: 60px 0;
}

/* -------------------------------------------------------------------
 * Dashboard header */

header {
    text-align: center;
}

header p {
    max-width: 30em;
    margin: 20px auto;
}

p {
    line-height: 1.5;
}

a:link,
a:visited {
    color: #0a84ff;
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
    text-decoration: underline;
}

/* -------------------------------------------------------------------
 * Navigation */

form {
    text-align: center;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

form select {
    font-family: inherit;
    font-size: 1rem;
}

/* -------------------------------------------------------------------
 * Dashboard tables */

.dashboard {
    max-width: 1400px;
    margin: 20px auto;
}

table {
    margin: 0 auto 40px;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

table caption {
    text-align: left;
    margin-bottom: 10px;
}

table caption h2 {
    float: left;
    margin: 0;
}

table caption .meta {
    margin-top: .5em;
    float: right;
    font-size: 14px;
}

table th,
table td {
    padding: 10px;
    border: 1px solid #515151;
}

/* -------------------------------------------------------------------
 * Score meter styling */

meter {
    background: #e7e5e2;
}

meter:-moz-meter-optimum::-moz-meter-bar {
    background: #33F70C;
}

meter:-moz-meter-sub-optimum::-moz-meter-bar {
    background: #ffa500;
}

meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: #ff0000;
}

meter::-webkit-meter-bar {
    background: #e7e5e2;
}

meter::-webkit-meter-optimum-value {
    background: #33F70C;
}

meter::-webkit-meter-suboptimum-value {
    background: #ffa500;
}

meter::-webkit-meter-even-less-good-value {
    background: #ff0000;
}

/* -------------------------------------------------------------------
 * Dashboard footer */

footer {
    text-align: center;
}
